# MONGODB_URI: Your MongoDB connection string
MONGODB_URI=your_mongodb_connection_string_here

# NEXTAUTH_SECRET: A secret key for NextAuth.js to sign JWTs
# You can generate a good secret with: `openssl rand -base64 32`
NEXTAUTH_SECRET=your_nextauth_secret_here
